# NAMESPACE for bGMYC4
# Generated for R 4.5.1 compatibility

# Import
import(ape)
importFrom(future, plan, multisession)
importFrom(future.apply, future_lapply)
importFrom(parallel, detectCores)

# Import base R functions used in package code
importFrom("grDevices", "heat.colors")
importFrom("graphics", "abline", "hist", "image", "par", "plot", "text")
importFrom("stats", "dgamma", "dunif", "rgamma", "rnorm", "runif")
importFrom("utils", "read.table", "write.table")
importFrom("graphics", "points")

# Export main functions
export(bgmyc.singlephy)
export(bgmyc.multiphylo)
export(bgmyc.dataprep)
export(bgmyc.gibbs)
export(bgmyc.lik)
export(bgmyc.prior)
export(bgmyc.spec)
export(bgmyc.point)
export(spec.probmat)
export(checkrates)

# Export S3 plot methods
export(plot.singlebgmyc)
export(plot.multibgmyc)
export(plot.bgmycprobmat)
export(plot.bgmycrates)

# Register S3 methods for plot() generic
S3method(plot,singlebgmyc)
S3method(plot,multibgmyc)
S3method(plot,bgmycprobmat)
S3method(plot,bgmycrates)
